.slick-dots {
  height: 30px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  font-size: 0px;
  color: lightgray;
  top: 0;
}

.slick-dots li button {
  width: 0px;
  height: 0px;
  font-size: 0px;
  color: lightgray;
  top: 0;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  font-size: 10px;
  color: lightgray;
}

.slick-dots li.slick-active button:before {
  color: hotpink;
}

.slick-slider {
  display: flex;
  height: 177px;
}

.slick-track {
  display: flex;
  height: 177px;
}

.slick-list {
  padding: 0 20px;
}
.slick-slide {
  width: 370px;
  margin: 0 5px;
}
